/* Box Model Hack */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

main {
  float: left;
  width: 100%;
}

article {
  float: left;
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
  width: 45%;
  height: auto;
}

h2 {
  margin: 0;
}

form {
  float: left;
  width: 98%;
  height: auto;
  margin: 1rem 0;
}

fieldset {
  float: left;
  margin: 1rem 1rem 0 1rem;
  clear: left;
}

label {
  float: left;
  width: auto;
  margin: 1rem 1rem 0 0;
  clear: left;
}

input {
  float: left;
  margin: 1rem 0;
}

input[type="number"],
input[type="float"] {
  width: 20%;
  margin-right: 1rem;
}

@media screen and (max-width: 500px) {
  input[type="number"],
  input[type="float"] {
    width: 30%;
  }
}

input[type="text"] {
  width: 98%;
  margin-right: 1rem;
}

input[type="text"].shortText {
  width: 48%;
}

.submit {
  width: auto;
  margin: 1rem 0;
}

p {
  float: left;
  width: 98%;
  height: auto;
}
